body {
  background-color: black;
  padding-top: 53px;

}

.jumbotron {
  background-color: black;
  color: black;
  text-align: center;
  background-image: url("/images/background.jpg");
  height: 100vh;
  background-size: cover !important;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
}

.navbar {
  margin: 2px;
  margin-bottom: -6px;
  text-align: center;
}
