<div class="jumbotron">
   <h1><%= @identifier.identifier %></h1>
   <br>
   <p>
     <% @identifier.payloads.max_by do |payload| %>
      <p><%= payload.url %></p><br>
      <% end %>
   </p>
</div>
