<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <nav class="menu">
      <a href="#"<i style="color: #EB5454;"></i><h6>Home</h6></a>
      <a href="#here"<i style="color: #FFF4AD;"></i> <h6>Social</h6></a>
      <a href="#there"<i style="color: #EBBB54;"></i><h6>Portfolio</h6> </a>
      <a href="#overthere"<i style="color: white;"></i><h6>Content</h6> </a>
      <a href="#yonder"<i style="color: #DDDD77;"></i><h6>Portrait</h6></a>
    </nav>
  </div>
</nav>

<%= yield %>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/custom.css">
