<div class="jumbotron">
  <h1>Sources</h1>
  <br>
  <ol>
    <% @sources.each do |source| %>
      <li class="btn btn-primary"> <%= source.identifier.capitalize %> </li><br><br>
    <% end %>
  </ol>
</div>
